@model ExpenseTracker.Models.Expense

<h2>Edit Expense</h2>

<form method="post">

<input asp-for="Id" hidden/>

<div>
<label>Title</label>
<input asp-for="Title"/>
</div>

<div>
<label>Category</label>
<input asp-for="Category"/>
</div>

<div>
<label>Amount</label>
<input asp-for="Amount"/>
</div>

<div>
<label>Date</label>
<input asp-for="Date" type="date"/>
</div>

<button type="submit">
Update
</button>

</form>
